/* Style Settings */

@import url('https://fonts.googleapis.com/css?family=Product%20Sans:400,700&display=swap');
:root {
    --font: 'Prodcut Sans', 'Product Sans', sans-serif;
}

body {
    background: linear-gradient(30deg, #190061,#240090, #0c0032, #3500d3);
	background-size: 450% 450%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.theme-light {
    --color-main: #fff;
    --color-text: #fff;
 }


#Photo {
    width: 100px;
    height: 100px;
    display: block;
    
    margin: 8px auto 13px;
    border-radius: 25%;
}

#Name {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    display: block;
    font-family: 'Product Sans';
    width: 100%;
    text-align: center;
}

#title {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}

#title_main {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: none;
}

#linksbutton {
    max-width: 580px;
    width: auto;
    display: block;
    margin: 15px auto;
}

@media screen and (max-width: 480px) {

    	#linksbutton {
	        max-width: 250px;
	        width: auto;
	        display: block;
	        margin: 15px auto;
	}

	#title_main {
	        font-size: 20px;
	        line-height: 1;
	}


}

.links {
    display: block;
        background-color: rgba(255, 255, 255, 0.0 );
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 8px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.links:hover {
    background-color: #fff;
    color: #000
    border: solid var(--color-main) 2px;
}


.gears {
    width: auto;
    text-align: center;
    margin: 10px auto;
  }

.gear {
    display: inline-block;
        background-color: rgba(255, 255, 255, 0.0 );
    color: var(--color-text);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.gear:hover {
    background-color: #fff;
    color: #000;
    border: solid var(--color-main) 2px;
}

.footervalue {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footervalue a {
    text-decoration:none;
}

#footertext {
    color: var(--color-main);
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 300px auto;
    padding: 40px;
    background: #fff;
    border-radius: 25px;
    width: 20%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.25;
    font-family: var(--font);
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #240090;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.25;
    font-family: var(--font);
  }
  
  @media screen and (max-width: 1400px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
    .popup .content {
        max-height: 30%;
        overflow: auto;
        font-size: 15px;
        font-weight: 600;
        line-height: 1.25;
        font-family: var(--font);
      }
  }
